annotated-types==0.7.0
anyio==4.12.1
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.5
h11==0.16.0
httpcore==1.0.9
httpx-sse==0.4.3
httpx==0.28.1
idna==3.11
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
langchain-core==1.2.14
langchain-mcp-adapters==0.2.1
langsmith==0.7.6
loguru==0.7.3
markdown-it-py==4.0.0
mcp==1.26.0
mdurl==0.1.2
packaging==26.0
pydantic-core==2.41.5
pydantic-settings==2.13.1
pydantic==2.12.5
pygments==2.19.2
pyjwt==2.11.0
python-dotenv==1.2.1
python-multipart==0.0.22
pyyaml==6.0.3
referencing==0.37.0
requests-toolbelt==1.0.0
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
sse-starlette==3.2.0
starlette==0.52.1
tenacity==9.1.4
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
uuid-utils==0.14.1
uvicorn==0.41.0
xxhash==3.6.0
zstandard==0.25.0
